<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">


    <!-- Login Form -->
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <H1>Login</H1>
      <input type="text" ngModel id="email" class="fadeIn second" name="email" placeholder="email" required>
      <input type="password" ngModel id="password" class="fadeIn third" name="password" placeholder="password" required>
      <div class="form-group" >
        <div class="form-check" >
          <input  ngModel class="form-check-input" type="radio" name="loginType" id="exampleRadios1" value=2 required>
          <label class="form-check-label" for="exampleRadios1">
            Customer
          </label>
        </div>
        <div class="form-check">
          <input ngModel class="form-check-input" type="radio" name="loginType" id="exampleRadios2" value=1 required>
          <label class="form-check-label" for="exampleRadios2">
            Company
          </label>
        </div>
        <div class="form-check disabled">
          <input ngModel class="form-check-input" type="radio" name="loginType" id="exampleRadios3" value=0 required>
          <label class="form-check-label" for="exampleRadios3">
            Admin
          </label>
        </div>

      </div>

        <input [disabled]="loginForm.invalid" type="submit" class="fadeIn fourth" value="Log In">

    </form>

  </div>
</div>
